
<div class="page-container"> 
  <app-header></app-header> 
  <app-sidebar></app-sidebar>
  
      <div class="content-column">

        <h1>Messages</h1>

        <div class="card-list">
          <div class="cards-container">
            <div class="card" *ngFor="let card of cards" [ngClass]="{ 'selected': card === selectedCard, 'unread': !card.read }" (click)="selectCard(card)">
              <div class="header">
                <div class="circle">
                  <span class="initials">{{ card.initials }}</span>
                </div>
                <h2>{{ card.header }}</h2>
              </div>
              <p class="description">{{ card.description }}</p>
              <div class="date">
                {{ card.date }}
              </div>
            </div>
            <div *ngIf="cardCount === 0">
              <h4>No Messages</h4>
            </div>
          </div>
          
          <div class="full-message">
            <div class="full-message-content" *ngIf="selectedCard">
            <div class="header">
              <div class="circle">
                <span class="initials">{{ selectedCard.initials }}</span>
              </div>
              <h2>{{ selectedCard.header }}</h2>
              <div class="date">
                {{ selectedCard.date }}
                </div>

              <div class="control-panel">
                <i class="fa fa-reply icon"></i>
                <i (click)="deleteMessage(selectedCard)" class="fa fa-trash icon"></i>
                <i class="fa fa-envelope icon"></i>
                <i class="fa fa-star icon"></i>
              </div>
            </div>
            <div class="message-content">
              <div class="message-content" [innerHTML]="selectedCard.fullMessage"></div>
              </div>
            </div>
          </div>
        </div>
        
        
        
    </div>
    