<!-- login.component.html -->
<div class="login-container">
    <div class="login-background"></div>
    <div class="login-form">
      <div class="form-header">
        <img src="../../assets/logo.png" class="logo">
        <h1>Same Day Delivery Tenders</h1>
      </div>
      <div class="form-body">
        <div class="input-group">
          <i class="fa fa-user"></i>
          <input type="text" placeholder="Username">
        </div>
        <div class="input-group">
          <i class="fa fa-lock"></i>
          <input type="password" placeholder="Password">
        </div>
        <button class="btn-login" (click)="login()">Sign In</button>
      </div>
    </div>
  </div>
  