.content-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-map-container {
  display: flex;
  width: 100%;
}

.card-container {
  flex: 0 0 30%;
  margin-right: 20px;
  box-sizing: border-box;
}

.map-container {
  flex: 0 0 70%;
  position: fixed;
  height: 100%;
  width: 58%;
  right: 0px;
}
