<div class="sidebar">
    <div class="sidebar-content">
      <img class="logo-header" [src]="isDarkModeEnabled() ? '../../assets/logo-light.png' : '../../assets/logo.png'" alt="Logo">

      <ul class="menu">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/memos">Messages<span class="badge" mat-raised-button matBadgeColor="warn" matBadge="{{unreadMessages}}"></span></a></li>
        </ul>        
          
    <div class="sidebar-title">Deliveries</div>
    <ul class="menu">
      <li><a href="/find-deliveries">Find Deliveries</a></li>
      <li><a href="#">Your Deliveries</a></li>
      <li><a href="#">Historical Deliveries</a></li>
      <li><a href="#">Payments</a></li>
      <li><a href="#">Settings</a></li>
    </ul>


</div>
  </div> 